<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832260206306-0ramebj7fp3m4ajcnjm8c93hak93f4dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832260206306-0ramebj7fp3m4ajcnjm8c93hak93f4dt</string>
	<key>API_KEY</key>
	<string>AIzaSyD0y4FDnAjcy4PqP7na9xFawUlDa4w2CIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>832260206306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rickmortyApp</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-988ca</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-988ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832260206306:ios:bb111c5511edd720aff8bb</string>
</dict>
</plist>